.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: white;
}

.App-title {
  margin-top: 40px;
}

.App-sub-title {
  font-size: 20px;
  margin-bottom: 40px;
}

.Warning {
  margin: 20px;
  height: 110px;
}

.WarningText {
  color: red;
  font-size: large;
  font-weight: bold;
}

.Vulnerabilities {
  background-color: #cacccf;
}

.Vulnerability {
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #ffffff;
}

.Vuln-header {
  font-size: 20px;
  margin-bottom: 10px;
}

.Vuln-guide {
  margin-top: 10px;
}

.Gist {
  padding-top: 20px;
  margin: auto;
  width: 1000px;
}

.GithubLink {
  margin: 20px;
  font-size: 30px;
  color: #61dafb;
}

.Info {
  font-size: 20px;
  margin-bottom: 20px;
}

.BottomLink {
  background-color: #282c34;
  height: 100px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.BottomLink a {
  margin-left: 5px;
  margin-bottom: 2px;
  text-decoration: none;
  font-size: 20px;
  color: red;
}